/* BODY */
body {
    margin: 0;
    max-width: 100% !important;
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}






    /* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height : 12vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;  
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
}

.logo {
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.logo img {
    height: 8vh;
    margin: 0 2vh;
}
.subscribe {
    margin: auto auto auto 5vh;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 5vh;
}
.menu-icon {
    height: 1.5em;
    margin: 0 0.5em;
}
.menu-item {
    text-decoration: none;
    color: #343434;
    font-size: 2vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 1em;
    transition:all 0.3s ease-in-out;
}
.menu-item:hover {
    transform: scale(1.1);
    color:#cc3e3e;
    font-weight: 800;
}
.menu-item:before {
    content:'';
    position:absolute;
    width:0;
    height:3px;
    bottom:0;
    left:33%;
    top:3vh;
    background-color:#cc3e3e;
    visibility:hidden;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.menu-item:hover:before{
    visibility:visible;
    width:69%;
}
.menu-item-profile:before {
    left:50%;
}
.menu-item-profile:hover:before {
    width: 52%;
}



.sub-btn {
    display: flex;
    padding: 16px 32px;
    cursor: pointer;
    gap: 0.4rem;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 24px;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #76000e, #aa203e, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa203e, #76000e) no-repeat;
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 20%);
    transition: background .3s ease;
}

.sub-btn:hover {
    background-size: 320%;
    background-position: right center;
}


/* Disconnect Btn */
.disconnect-btn {
   font-family: "Nunito", sans-serif;
   display: inline-block;
   outline: none;
   cursor: pointer;
   font-size: 1.8vh;
   font-weight: 700;
   border-radius: 3em;
   padding: 0.5em 1.5em;
   border: 3px solid #cc3e3e;
   background: #cc3e3e;
   color: #fff;
   transition:all 0.3s ease-in-out;
   margin-left: 3em;
}


/* Menu Admin */
.menu-admin-btn {
   font-family: "Nunito", sans-serif;
   display: inline-block;
   outline: none;
   cursor: pointer;
   font-size: 2vh;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 800;
   color: #cc3e3e;
   margin-right: 3em;
   border-bottom: 0.18em solid #cc3e3e;
   transition:all 0.3s ease-in-out;
}








    /* MAIN */
.main {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-offset {
    height: 18vh;
    width: 100%;
}

.title {
   color: #cc3e3e;
   font-weight: 1000;
   font-size: 5em;
   width: 70%;
   text-align: left;
}











/* SUBSCRIPTION */

.subscription {
 display: flex;
 flex-direction: row;
 width: 80vw;
 min-height: 55vh;
 margin: 3vh 0;
 justify-content: space-around;
 align-items: flex-start;
}


.card:hover {
   transform: scale(1.1);
   cursor: pointer;
}


.card {
   width: 30vh;
   height: 45vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 1.5rem;
   background-color: #fff;
   padding: 1.5rem;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
   transition: all 0.3s ease-in-out;
   /*border: #cc3e3e 0.3em solid;*/
   border-bottom: 0.3em solid #cc3e3e;
   position: relative;
   overflow: hidden;
 }
 .card-title {
   font-size: 4.5vh;
   font-weight: 900;
   color: #cc3e3e;
   margin-block-start: 0;
   margin-block-end: 0;
   width: 80%;
 }
 .price {
   font-size: 3.5vh;
   font-weight: 600;
   color: #cc3e3e;
   margin-block-start: 0;
   margin-block-end: 0;
 }
 .card-text {
   font-size: 2vh;
 }
 
 .lists {
   display: flex;
   flex-direction: column;
   row-gap: 0.75rem;
   font-size: 0.875rem;
   margin-left: 5%;
   margin-top: 1em;
 }
 
 .list {
   display: flex;
   align-items: center;
   width: 90%;
 }
 .card-point-icon {
   width: 1em;
 }
 .card-point-text {
   color: #343434;
   font-size: 2vh;
   font-weight: 400;
 }
 
 .list span {
   margin-left: 3%;
 }
 
 .action {
   margin-top: 2vh;
   border: 0.2em solid  #cc3e3e;
   border-radius: 10em;
   background-color: #cc3e3e;
   padding: 0.625rem 1.5rem;
   font-weight: 600;
   text-align: center;
   font-size: 2vh;
   color: #fff;
   outline: none;
   text-decoration: none;
   transition: all .2s ease;
 }
 
 .action:hover {
   transform: translateY(-3%);
   box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
   cursor: pointer;
 }




 .best {
   position: absolute;
   width: 12em;
   height: 10em;
   top: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .best::before {
   content: 'Meilleure Vente';
   position: absolute;
   width: 150%;
   height: 40px;
   background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
   transform: rotate(35deg) translateY(-1em);
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-weight: 800;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   box-shadow: 0 5px 10px rgba(0,0,0,0.23);
 }












   /* RECHERCHE */
.research-title {
   margin-block-start: 0;
   margin-block-end: 0;
}
.research {
   margin: 5vh 0;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 70%;
}
.research form {
    width:100%;
    margin-top: 6vh;
}
.research form .inner-form{
    width:100% ;
}



/* icone de fitlre */
.icon-wrap{
   position:absolute;
   top:0;
   right:0;
   display:flex;
   -ms-flex-align:center;
   align-items:center;
   width:60px;
   height:100% 
}
.icon-wrap-filter {
   left: 3%;
}
.filter-icon {
   width: 60%;
   opacity: 0.5;
   transition: all 0.3s ease-in-out;
   position:absolute;
   display:flex;
   -ms-flex-align:center;
   align-items:center;
}
.filter-icon:hover {
   opacity: 0.8;
   cursor: pointer;
}



/* Barre de recherche */
.search-field {
   outline-offset:-2px
}
.basic-search{
    margin-bottom:1em;
    border-radius: 32px;
    box-shadow:0 8px 20px 0 rgba(0,0,0,.15);
}
.input-field{
   width:100%;
   position:relative;
}
.search-field {
   margin-left: 2%;
   border:0;
   background:#fff;
   display:block;
   padding:10px 32px 10px 70px;
   border-radius: 32px;
   height:3em;
   min-width: 83%;
   max-width: 10em;
   font-size:1.5em; 
   font-family: "Nunito", sans-serif;
   color: #343434;
}
.search-field.placeholder{
   font-size:1.5em; 
   font-family: "Nunito", sans-serif;
   color: #343434;
}
.search-field:hover, .search-field:focus{
   box-shadow:none;
   outline:0 
}


/* icone de recherche */
.search-icon {
   width: 60%;
   opacity: 0.5;
   transition: all 0.3s ease-in-out;
   position:absolute;
   display:flex;
   -ms-flex-align:center;
   align-items:center;
}
.search-icon:hover {
   opacity: 0.8;
   transform: scale(1.1);
   cursor: pointer;
}




/* recehrche avancée */
@keyframes openanimation {
   from {
       opacity: 0;
       transform: translateY(-20px);
   }
   to {
       opacity: 1;
       transform: translate(0px);
   }
}
@keyframes closeanimation {
   from {
       opacity: 1;
       transform: translate(0px);
   }
   to {
       opacity: 0;
       transform: translateY(-20px);
   }
}
.advance-search.open {
   display: block;
   animation: openanimation 1s ease;
}
.advance-search {
   background:#ffffff;
   padding:40px;
   border-radius: 32px;
   box-shadow:0 8px 20px 0 rgba(0,0,0,.15);
   display: none;
   /*animation: closeanimation 1s ease;*/
}
.input-select select {
   width: 10em;
   font-size:1em; 
   font-family: "Nunito", sans-serif;
   color: #343434;
   appearance: none;
   padding: 7px 40px 7px 12px;
   border: 1px solid #e8eaed;
   border-radius: 5px;
   background: #fff;
   box-shadow: 0 1px 3px -2px #9098a9;
}
.input-select select:focus {
   outline:none;
} 
.input-select select option {
   padding: 8px 16px;
   border: 1px solid transparent;
   border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
   cursor: pointer;
}


.advance-search .desc {
   font-size:1em;
   color:#999;
   display:block;
   margin-bottom:2em; 
}

.advance-search .row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 2em; 
}

.advance-search .row.third {
   margin-bottom:0;
}
.row.third .input-field {
   width:100%;
   display:flex;
   justify-content:flex-end;
   align-items:center 
}



/* filtres */ 

.dropdown {
width: 90%;
display: inline-block;
background-color: #fff;
border-radius: 2px;
box-shadow: 0 0 2px rgb(204, 204, 204);
transition: all .5s ease;
position: relative;
font-size: 1.5vh;
color: #474747;
height: 100%;
text-align: left
}
.dropdown .select {
   cursor: pointer;
   display: block;
   padding: 10px
}
.dropdown .select > i {
   font-size: 1em;
   color: #888;
   cursor: pointer;
   transition: all .3s ease-in-out;
   float: right;
   line-height: 20px
}
.dropdown:focus, .dropdown:active {
outline: none;
}
.dropdown:hover {
   box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
   background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
   box-shadow: 0 0 4px rgb(204, 204, 204);
   border-radius: 2px 2px 0 0;
   background-color: #f8f8f8
}
.dropdown.active .select > i {
   transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
   position: absolute;
   background-color: #fff;
   width: 100%;
   left: 0;
   margin-top: 1px;
   box-shadow: 0 1px 2px rgb(204, 204, 204);
   border-radius: 0 1px 2px 2px;
   overflow: hidden;
   display: none;
   max-height: 144px;
   overflow-y: auto;
   z-index: 9
}
.dropdown .dropdown-menu li {
   padding: 10px;
   transition: all .2s ease-in-out;
   cursor: pointer
} 
.dropdown .dropdown-menu {
   padding: 0;
   list-style: none
}
.dropdown .dropdown-menu li:hover {
   background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
   background-color: #e2e2e2
}
.reset-option {
   font-weight: 800;
}



/* boutons recherche avancée */ 
.apply-btn {
   height:2.5em;
   padding:0 15px;
   background:#cc3e3e;
   white-space:nowrap;
   border-radius:18px;
   font-size:1.5vh;
   color:#fff;
   transition:all .2s ease-out,color .2s ease-out;
   border:#cc3e3e 0.2em solid;
   cursor:pointer;
   font-weight:600;
   margin: 0 1em;
}
.apply-btnhover{
   background:#cc3e3e; 
}
.reset-btn {
   height:2.5em;
   padding:0 15px;
   background:0 0;
   white-space:nowrap;
   border-radius:18px;
   font-size:1.5vh;
   color:#cc3e3e;
   transition:all .2s ease-out,color .2s ease-out;
   border:#cc3e3e 0.2em solid;
   cursor:pointer;
   font-weight:600 
}
.reset-btn:hover{
   color:#cc3e3e 
}





/* Latest Users */
.latest-users {
   width: 70%;
   min-height: 20vh;
   display: flex;
   flex-direction: column;
   margin-top: 3vh;
}
.users-row {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   margin: 2vh 0;
}

.user-profile {
   width: 15vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: #343434;
   transition: all 0.5s ease-in-out;
   text-align: center;
}
.user-profile:hover {
   transform: scale(1.05);
}
.user-picture {
   width: 8em;
   height: 8em;
   border-radius: 50%;
   border: #cc3e3e 0.3em solid;
   outline: none;
}




/* footer */
.footer {
   width: 100%;
   height: 0;
}











    /* POPUPS */
/* Popup */

.scrolling {
   height: 100%;
   overflow: hidden;
}
.close {
   color : #222626;
   float: right;
   font-size: 3vh;
   font-weight: bold;
   cursor: pointer;
   text-align: end;
   margin-right: 2vh;
}
.popup {
   display: none;
   position: fixed;
   justify-content: center;
   align-items: center;
   z-index: 10;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: rgba(209, 209, 209, 0.5);
   justify-content: center;
   align-items: center;
}
.popup-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: fit-content;
   background-color: #fff;
   padding: 1em 1.25em;
   border-radius: 1em;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   vertical-align: middle;
}

.popup-content p {
   font-size: 2.5vh;
   margin: 0;
   text-align: center;
}

.popup-content .close {
   align-self: flex-end;
   font-size: 2.5vh;
   margin-left: 2em;
   cursor: pointer;
}

.popup-content .close-sub {
   font-family: "Nunito", sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   display: inline-block;
   outline: none;
   cursor: pointer;
   font-size: 1.5vh;
   line-height: 1.25em;
   margin-top: 1em;
   font-weight: 700;
   border-radius: 10px;
   padding: 0.75em 1em;
   text-align: center;
   border: none;
   border: 0.2em solid #cc3e3e;
   background-color: #fff;
   color: #cc3e3e;
   transition:all 0.3s ease-in-out;
}

.popup-btns {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 1em;
}

.cancel-btn {
   font-family: "Nunito", sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   display: inline-block;
   outline: none;
   cursor: pointer;
   font-size: 1.5vh;
   line-height: 1.25em;
   margin: 1em;
   font-weight: 700;
   border-radius: 10px;
   padding: 0.75em 1em;
   border: none;
   border: 0.2em solid #cc3e3e;
   background-color: #fff;
   color: #cc3e3e;
   transition:all 0.3s ease-in-out;
}

.confirm-btn {
   font-family: "Nunito", sans-serif;
   text-decoration: none;
   text-transform: uppercase;
   display: inline-block;
   outline: none;
   cursor: pointer;
   font-size: 1.5vh;
   line-height: 1.25em;
   margin: 1em;
   font-weight: 700;
   border-radius: 10px;
   padding: 0.75em 1em;
   border: none;
   border: 0.2em solid #cc3e3e;
   background-color: #cc3e3e;;
   color: #fff;
   transition:all 0.3s ease-in-out;
}
